<!-- Cookie Consent Popup HTML -->
<div id="cookieConsentPopup" class="cookie-consent-popup" style="display: none;">
  <p>This website uses cookies to ensure you get the best experience on our blog. <a href="/privacy-policy">Learn more</a></p>
  <button id="acceptCookieConsent">Accept</button>
  <button id="declineCookieConsent">Decline</button>
</div>

<!-- Cookie Consent CSS -->
<style>
.cookie-consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ensure it appears above other content */
}
.cookie-consent-popup p,
.cookie-consent-popup a {
  display: inline-block;
  color: #333;
  margin-right: 10px;
}
#acceptCookieConsent,
#declineCookieConsent {
  cursor: pointer;
}
</style>

<!-- Cookie Consent JavaScript -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  var consent = localStorage.getItem('cookieConsent');
  if (consent === null) {
    document.getElementById('cookieConsentPopup').style.display = 'block';
  }

  document.getElementById('acceptCookieConsent').onclick = function() {
    localStorage.setItem('cookieConsent', 'accepted');
    document.getElementById('cookieConsentPopup').style.display = 'none';
  };

  document.getElementById('declineCookieConsent').onclick = function() {
    localStorage.setItem('cookieConsent', 'declined');
    document.getElementById('cookieConsentPopup').style.display = 'none';
  };
});
</script>
