<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Humancoder Blog</a></h2>
              <p>Blogs are really pretty awesome things. For one, they are a means to continually provide fresh,
                dynamic content. 
							</p>
            </header>
						<p>
							{% comment %} Content fulfills the general population seeing your website and it likewise fulfills web indexes! Having solid content
							influences your advertising to work a hell of a great deal simpler.
							Along these lines, the greatest bit of the promoting riddle is there. It's vital to thoroughly consider this technique before starting another crusade. 
							This makes the whole content and advertising process more streamlined and will in the end enable your message to achieve your clients in a more effective manner. 
							You ought not think little of the significance of giving yourself room. Having squirm room takes into consideration steady changes to your methodology en route. {% endcomment %}
						<p>
						</p>
							{% comment %} At that point, rather than pushing something superfluous to your users, you can give them something that will stick.
							You'll give them something they can identify with and be slanted to share with their companions and associates. 
							Perhaps they'll even be slanted to work with you later on!
							Having an advancement technique that is excessively unbending isn't astute on the grounds that there is no space for solid spontaneous creation. 
							Having the capacity to change your advertising procedure will prompt more deals and arrangements. {% endcomment %}
						</p>

          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 2 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<!-- <article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article> -->
							{% endif %}
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
